<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Skill Details</title>
</head>
<body>
    <h1>Create New Skill</h1>
    <form action="/skills" method="POST">
        <fieldset>
            <legend>Skill Details</legend>
            <label for="skill">Skill:</label>
            <input type="text" name="title" id="skill">
            <button type="submit">Add Skill</button>
        </fieldset>
    </form>
    <a href="/">Back to Home Page</a>
</body>
</html>